{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block content %}
    <span class="span4 offset8">
        <a href="#id_question_form"
           role="button" data-toggle="modal"
           class="btn btn-large btn-success btn-block" >
            New Question
        </a>
    </span>
    <div class="span12">
        {% for question in questions %}
            <h1>
                <a href="{{ question.get_absolute_url }}">
                    {{ question }}
                </a>
            </h1>
            <div>
                <span class="badge">
                    Posted at: {{ question.create_at }}
                </span>
                <span class="badge badge-success">
                    {{ question.answers.count }} Answers
                </span>
            </div>
            <hr>
        {% empty %}
            <h1>No Questions</h1>
        {% endfor %}
    </div>


<!-- Modal -->
<div id="id_question_form"
     class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            Question
        </h3>
    </div>
    <form action="/question/add/" method="POST"
          class="form-horizontal">
        <div class="modal-body">
            {% csrf_token %}
            {{ question_form|as_bootstrap }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal"
                    aria-hidden="true">
                Close
            </button>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>

{% endblock %}
